<div id="wrapper">
    <h2>{{ title }}</h2>
    <div #echart id="echart"></div>
    <ng-container *ngIf="echartType === ECHART_TYPE.DOUGHNUT_CHART; then doughnutChartForm"> </ng-container>
    <ng-container *ngIf="echartType === ECHART_TYPE.HEATMAP_CHART; then heatmapChartForm"> </ng-container>
    <ng-container *ngIf="echartType === ECHART_TYPE.LINE_CHART; then lineChartForm"></ng-container>
</div>

<ng-template #heatmapChartForm>
    <form
        [formGroup]="form"
        class="mt-4 d-flex align-items-end flex-wrap justify-content-between"
        (change)="getAndSetDataToChart()"
    >
        <div class="d-flex flex-wrap gap-2">
            <div class="d-flex flex-column">
                <label for="metrics">View: </label>
                <select id="metrics" formControlName="metrics" style="height: 1.8em">
                    <option value="volume">Volume</option>
                    <option value="quantity">Quantity</option>
                </select>
            </div>
            <div class="d-flex flex-column">
                <label for="date">Choose month: </label>
                <input type="month" id="date" formControlName="date" [max]="maxDate" />
            </div>
        </div>
        <a
            class="text-info text-decoration-none"
            [routerLink]="['/table']"
            [queryParams]="{ fromChart: 'spendingHeatmap', date: this.form.value.date }"
        >
            Details</a
        >
    </form>
</ng-template>

<ng-template #doughnutChartForm>
    <form
        [formGroup]="form"
        class="mt-4 d-flex align-items-end flex-wrap justify-content-between"
        (change)="getAndSetDataToChart()"
    >
        <div class="d-flex flex-wrap gap-2">
            <div class="d-flex flex-column">
                <label for="fromDate">From: </label>
                <input type="date" id="fromDate" formControlName="from" />
            </div>
            <div class="d-flex flex-column">
                <label for="fromDate">To: </label>
                <input type="date" id="toDate" formControlName="to" />
            </div>
        </div>
        <a
            class="text-info text-decoration-none"
            routerLink="/table"
            [queryParams]="{
                fromChart: 'spendingCategory',
                from: this.form.value.from,
                to: this.form.value.to
            }"
        >
            Details</a
        >
    </form>
</ng-template>

<ng-template #lineChartForm>
    <div class="d-flex justify-content-between gap-2 align-items-center">
        <p *ngIf="echartType === ECHART_TYPE.LINE_CHART" class="text-danger">
            INFO: there is no filter on this chart, because the API responds with the same data with any filter
        </p>
        <a
            class="text-info text-decoration-none"
            [routerLink]="['/table']"
            [queryParams]="{ fromChart: 'incomeDynamics' }"
        >
            Details</a
        >
    </div>
</ng-template>
