<div class="row flex-grow-1">
    <div class="col-xl-6 col-12 my-3">
        <div class="card">
            <app-echart
                [title]="'Spending Category'"
                [echartOptions]="doughnutChartOptions"
                [echartType]="ECHART_TYPE.DOUGHNUT_CHART"
                [form]="doughnutChartForm"
                [requestBody]="doughnutChartRequestBody"
                [endpoint]="'aggregate'"
            ></app-echart>
        </div>
    </div>
    <div class="col-xl-6 col-12 my-3">
        <div class="card">
            <app-echart
                [title]="'Spending Heatmap'"
                [echartOptions]="heatmapChartOptions"
                [echartType]="ECHART_TYPE.HEATMAP_CHART"
                [form]="heatmapChartForm"
                [requestBody]="heatmapChartRequestBody"
                [endpoint]="'aggregate'"
            ></app-echart>
        </div>
    </div>
    <div class="col-12 col-xl-7 my-3">
        <div class="card">
            <app-echart
                [title]="'Income Dynamics'"
                [echartOptions]="lineChartOptions"
                [echartType]="ECHART_TYPE.LINE_CHART"
                [form]="lineChartForm"
                [requestBody]="lineChartRequestBody"
                [endpoint]="'find'"
            ></app-echart>
        </div>
    </div>

    <div class="col-xl-5 col-12 my-3">
        <div class="card">
            <app-table-chart></app-table-chart>
        </div>
    </div>
</div>
