#wrapper {
    h2 {
        font-size: 1rem;
    }
    #echart {
        height: 40vh;
        min-height: 350px;
        width: 100%;
    }
}
.btn-outline-success {
    background-color: #94ca00 !important;
    color: white !important;
    border: none;
}
